.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-up-btn {
  
  display: inline-block; 
  background-color: #739b18;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  margin-top: -7px;
  

}

.nav{
   display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top:0;
   
}

.SearchBar{
  width: 100%;
  /* background-color: #f1ff58; */
  list-style: none;
}

ul{
  list-style: none;
}

li{
  list-style: none;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.tabs{
  list-style: none;
  display:flex;
}
.ctr{
  display: flex;
  margin-left: 20px;
}

.logo{
  opacity: 0.7;
}